<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- 개발자 도구로 찍어보면 v-if driective-false를 감싸고 있는 태그는 아예 없어
  근데 v-show 같은 경우 화면에 보이지는 않지만 dom에는 존재. 즉 숨긴상태로 만들어져있음(style="display: none;"") -->
  <div id="app">
    <h1>1. v-if</h1>
    <p v-if="isTrue">
      v-if directive - true
    </p>
    <p v-if="isFalse">
      v-if directive - false
    </p>
    <h1>2. v-show</h1>
    <p v-show="isTrue">
      v-show directive - true
    </p>
    <p v-show="isFalse">
      v-show directive - false
    </p>


  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        isTrue: true,
        isFalse: false,
      }
    })
  </script>
</body>
</html>
